services:
  ice-server:
    build: .
    container_name: ice_server_container
    restart: unless-stopped
    ports:
      - '${PORT:-5000}:5000'
    env_file:
      - .env
    environment:
      - APP_ENV=production
      - DATABASE_URL=${DATABASE_URL}
